<div class="row">
	<div class="col-12 col-sm-12 col-lg-12">
		<h1><a href="/collection/<%= collection.name %>"><%= collection.title %></a></h1>
		
		<% var metaauthor = collection.primaryauthor;
			var metadate = collection.createdat; 
			if(!fullcollection){%>
		<% include _postmeta %>
		<%}
		if(request.params.pagenumber){
			try{
				var post = collection.posts[request.params.pagenumber-1].post;
						%><% include _collection_post %><%
			}
			catch(e){%><%= e.message %><%}%>
			<%
		}
		else{
			%>
			<div class="content"><%= collection.content %></div>
			<%
		}
		if(fullcollection){%>
			<% if(collection.posts && collection.posts.length>0){
				if(!request.params.pagenumber){
					%>
					<div><a href="/collection/<%= collection.name %>/page/1">read more &rarr;</a></div>
					<%
				}
				%>
				<%- viewhelper.getPaginationHtml({
						pagecount : collection.posts.length,
						urlbase : "/collection/"+collection.name+"/page",
						pagenumber : request.params.pagenumber
					}) %>
			<%}%>
		<%}%>
	</div>
</div>